<div class="home-container">
	<div class="site-title">
		Name That Song!
	</div>
	<div class="site-description">
		This is a placeholder description.
	</div>
	<div class="music-player-container"> 
		<div class="search-container">
			<input class="search-artist-name"/>
		</div>
		<div class="live-preview-artist">
			Tracks by 
		</div>
	</div>
</div>